@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1980px;
  max-height: 1080px;
  margin: 0 auto;
}

body a {
  text-decoration: none;
}

.main-content {
  margin: 0 5px;
}

*,
*::before,
*::after,
*:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body ul {
  margin: 0;
  padding: 0;
}

body li {
  list-style-type: none;
}

body button:active,
body button:focus {
  outline: none;
}

body button::-moz-focus-inner {
  border: 0;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  border: none;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

.line img {
  margin: 0 auto;
  width: 1980px;
  height: 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eceaea;
  padding: 0px 20px;
}

.info__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__call img {
  margin-right: 10px;
  max-width: 16px;
  max-height: 16px;
}

.info__createAkk {
  padding-top: 14px;
  font-weight: 700;
  font-size: 21px;
  font-family: "Bitter";
  color: #777777;
  line-height: 2;
}

.info__createAkk a {
  color: #59b7c2;
}

.info__nav {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-language,
.nav-currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-language p,
.nav-currency p {
  font-size: 16px;
  font-family: "Segoe UI";
  font-weight: bold;
  line-height: 2.182;
  padding: 20px 8px 20px;
}

.nav-language p a,
.nav-currency p a {
  color: #585858;
}

.nav-language p:last-child,
.nav-currency p:last-child {
  margin-right: 0px;
}

.nav-language p:hover,
.nav-currency p:hover {
  background-color: #c3d7e9;
  opacity: 0.8;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.nav-language p:hover:active,
.nav-currency p:hover:active {
  background-color: #59b7c2;
}

.nav-language p:hover:active a,
.nav-currency p:hover:active a {
  color: white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px 50px;
}

.navigation__search input {
  padding: 5px 10px 5px;
  border: 1px solid #d4d4d4;
}

.navigation__search button {
  position: relative;
  top: 2px;
  left: -27px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: rgba(245, 245, 245, 0);
}

.navigation__search button:active {
  border: none;
}

.all-identification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.identification {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 17px;
  font-weight: 500;
  line-height: 2.182;
  font-family: "Segoe UI";
}

.identification p {
  padding: 0 15px 0 10px;
  font-size: 17px;
  font-family: "Segoe UI";
  line-height: 1.2;
  text-align: right;
}

.identification a {
  color: #777777;
}

.identification a:hover {
  color: #59b7c2;
}

.identification a:hover:active {
  color: #227b85;
}

.identification__account {
  border-right: 1px solid grey;
}

.identification__wishList {
  border-right: 1px solid grey;
}

.identification__login {
  border-right: 1px solid grey;
}

.dropdown-header {
  position: relative;
  display: inline-block;
}

.dropdown-header .dropbtn {
  border-radius: 5px;
  color: #444444;
  padding: 10px;
  font-size: 16px;
  font-family: "Segoe UI";
  border: none;
  background-color: #f1f3f5;
  line-height: 2.182;
}

.dropdown-header .dropbtn::before {
  content: "✚";
  margin-right: 10px;
}

.dropdown-header .dropdown-content {
  display: none;
  position: absolute;
  left: -260px;
  padding: 30px 30px 20px 30px;
  background-color: #f1f1f1;
  min-width: 310px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-header .dropdown-content h2 {
  margin-bottom: 20px;
  font-size: 17px;
  font-family: "Bitter";
  color: #777777;
  line-height: 1.846;
}

.dropdown-header .dropdown-content hr {
  margin-bottom: 20px;
  border: none;
  background-color: #e0e0e0;
  height: 2px;
}

.dropdown-header .dropdown-contentsecond {
  margin-top: 20px;
}

.dropdown-header .dropdown-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.dropdown-header .dropdown-content__item img {
  max-width: none;
  margin-right: 10px;
}

.dropdown-header .dropdown-content__item button {
  height: 25px;
}

.item__text p {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Bitter";
  color: #444444;
  font-weight: bold;
  line-height: 1.417;
}

.item__text p a {
  font-size: 14px;
  font-family: "Segoe UI";
  color: #777777;
  line-height: 1.417;
}

.item__clear:hover {
  color: #b11c1c;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-header:hover .dropdown-content {
  display: block;
}

.dropdown-header:hover .dropbtn {
  background-color: #59b7c2;
  color: #fff;
}

.dropdown__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown__buttons button {
  width: 150px;
  height: 35px;
  margin-right: 15px;
  font-size: 13px;
  font-family: "Segoe UI";
  color: #fefefe;
  line-height: 2.182;
  border-radius: 2px;
}

.dropdown__buttons .btn {
  background-color: #59b7c2;
}

.dropdown__buttons .btn:hover {
  background-color: #02a2b4;
}

.dropdown__buttons .btn-dark {
  background-color: #444444;
}

.dropdown__buttons .btn-dark:last-child {
  margin: 0;
}

.dropdown__buttons .btn-dark:hover {
  background-color: #818181;
}

.navigation-content {
  border-top: 1px solid #777;
}

.navigation-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 10px 20px 10px;
}

.navigation-content ul a {
  font-size: 21px;
  font-family: "Bitter";
  color: #585858;
  text-transform: uppercase;
  line-height: 1.2;
}

.navigation-content ul li {
  margin-right: 40px;
  padding: 20px 20px;
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Bitter";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}

.navigation-content ul li a {
  color: #333333;
}

.navigation-content ul li:hover {
  background-color: #c3d7e9;
  color: #fff;
}

.navigation-content ul li:hover:active {
  background-color: #ffffff;
  opacity: 0.8;
  color: #fff;
  z-index: 1;
}

.navigation-content ul li:last-child {
  margin-right: 0;
}

.list__menu {
  position: relative;
  display: inline-block;
}

.list__menu .content {
  min-width: 160px;
  display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.list__menu .content a {
  border: 1px solid #e2e2e2;
  border-collapse: collapse;
  display: block;
  padding: 12px 16px;
  color: #777777;
  text-decoration: none;
  font-size: 11px;
  text-align: left;
}

.list__menu .content a:hover {
  background-color: #8daeca;
  color: #fff;
}

.list__menu:hover .content {
  display: block;
}

/* Slider*/

.sliderCarusel {
  max-width: 100%;
  max-height: 600px;
  position: relative;
  margin: auto;
  height: auto;
  margin-bottom: 15px;
}

/* Картинка масштабируется по отношению к родительскому элементу */

.sliderCarusel .item img {
  /* заполняем картинкой поле с сохранением пропорций */
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 600px;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* Кнопки вперед и назад */

.sliderCarusel .prev,
.sliderCarusel .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.sliderCarusel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Фон кнопок вперед и назад при наведении */

.sliderCarusel .prev:hover,
.sliderCarusel .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Надпись */

.slideText {
  position: absolute;
  color: #363131;
  font-size: 33px;
  /* Выравнивание текста горизонтально и по вертикально*/
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* Тень текста*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.slideText.first {
  max-width: 40%;
  left: 69%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.6;
}

.slideText.first h2 {
  font-weight: 300;
  padding: 0 15px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
}

.slideText.first p {
  color: #fff;
  font-size: 28px;
}

/* Кружочки под слайдами */

.slider-dots {
  text-align: right;
  position: relative;
  top: -50px;
  margin-right: 20px;
}

.slider-dots_item {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: #868686;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.6;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active {
  background-color: white;
  border-style: solid;
  border-width: 4px;
  border-color: #222222;
  border-radius: 50%;
  opacity: 1;
}

.slider-dots_item:hover {
  background-color: white;
  border-style: solid;
  border-width: 4px;
  border-color: #222222;
  border-radius: 50%;
  opacity: .6;
}

/* Анимация слайдов */

.sliderCarusel .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__card {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  margin-bottom: 70px;
  padding: 15px;
  border: 2px solid #dadada;
  border-radius: 5px;
}

.category__card:last-child {
  margin-right: 0;
}

.category__card img {
  width: 100px;
  margin-right: 15px;
}

.category__card .big {
  width: 99px;
  padding: 10px;
}

.category__card .text-card {
  font-size: 21px;
  font-family: "Bitter";
  color: #4e4e4e;
  line-height: 1.5;
}

.category__card .text-card h2 {
  font-weight: 500;
}

.category__card .text-card p {
  font-weight: 300;
  color: grey;
}

.control-title {
  color: #535353;
  margin: 50px 0;
  border-bottom: 1px solid #b9b9b9;
}

.control-title h1 {
  font-weight: 400;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider .slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-transform: translateX(0.5%);
      -ms-transform: translateX(0.5%);
          transform: translateX(0.5%);
}

.slider .slider__wrapper .slider__item {
  max-width: 25%;
  margin-right: 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.5%;
          flex: 0 0 23.5%;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.slider .slider__wrapper .slider__item img {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.slider {
  padding-bottom: 13px;
}

.slider__item .lable-sale {
  position: absolute;
  max-width: 100px;
}

.product-wrap:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #09dfdf;
  -webkit-box-shadow: 1px 1px 11px 1px #07b4b4;
          box-shadow: 1px 1px 11px 1px #07b4b4;
}

.product-wrap p {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 23px;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-family: "Bitter";
  color: #5e5e5e;
  line-height: 1.5;
}

.actions {
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-items {
  width: 26%;
  border: 1px solid #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.actions {
  max-height: 130px;
}

.actions__price {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions__price .lone {
  margin: 0;
  padding: 0;
  font-size: 19px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-family: "Bitter";
  color: #36a6b3;
}

.actions__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f00;
}

.actions__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions__basket img {
  color: #000000;
}

.price-block p {
  padding: 0;
  margin: 0;
  max-width: 100px;
  font-size: 17px;
}

.price-block .price-one {
  font-size: 18px;
  font-family: "Bitter";
  color: #3fbecc;
}

.price-block .price-second {
  text-decoration: line-through;
  font-size: 13px;
  color: #adadad;
}

.slider__control {
  position: absolute;
  top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.best {
  position: relative;
  top: 130px;
}

.slider__item > div {
  font-size: 21px;
  font-family: "Bitter";
  color: #444444;
  line-height: 1.167;
}

.slider__item > div h2 {
  font-weight: 500;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0;
  max-height: 500px;
}

.info-block .info-item {
  width: 33.3%;
  padding: 20px;
  margin-right: 30px;
  background-color: #f3f3f3;
}

.info-block .info-item:last-child {
  margin-right: 0;
}

.info-block .info-item .info-text {
  color: #66a5a8;
}

.info-block h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-family: "Bitter";
  color: #444444;
  line-height: 1.556;
}

.info-block p {
  margin-bottom: 15px;
  font-size: 19px;
  font-family: "Segoe UI";
  color: #777777;
  line-height: 1.545;
}

.news .item-text {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 21px;
  color: #969696;
}

.news p {
  font-style: normal;
  margin-bottom: 5px;
  padding: 0;
}

.Latter .input-btn {
  width: 20px;
  height: 50px;
  background-color: #fff;
  position: relative;
  top: 53px;
  left: 93%;
  cursor: pointer;
}

.Latter input {
  padding: 15px 10px;
  width: 100%;
  color: #969696;
  margin-bottom: 40px;
}

.Latter .latter-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Latter .latter-info img {
  width: 80px;
}

.Latter .latter-info p {
  margin-left: 15px;
}

.coop {
  color: #a5a5a5;
}

.messengers a {
  margin-right: 10px;
  color: #000000;
}

.messengers a:nth-child(1):hover {
  color: #3b5998;
}

.messengers a:nth-child(2):hover {
  color: #00acee;
}

.messengers a:nth-child(3):hover {
  color: #ff6701;
}

.messengers-item {
  font-size: 30px;
}

.messengers-item:last-child {
  margin-right: 0;
}

.footer-info {
  padding: 70px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e6e6e6;
}

.footer-info .footer-item {
  display: block;
  max-width: 25%;
}

.footer-info .footer-item a {
  color: grey;
  display: block;
  padding-bottom: 8px;
}

.footer-info .footer-item a:hover {
  color: blue;
  text-decoration: underline;
}

.footer-info .footer-item a:active {
  color: #00004d;
}

.footer-info h5 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #adadad;
  font-size: 18px;
  font-family: "Bitter";
  color: #444444;
  line-height: 0.944;
}

.block-right {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1165px) {
  .slider__control_left {
    left: 92%;
  }
}

@media (max-width: 1065px) {
  .info {
    display: block;
    text-align: left;
  }

  .info__createAkk {
    max-width: 470px;
    margin: 0 auto;
    line-height: 1;
  }

  .info__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .info__nav p {
    padding: 5px 10px;
  }

  .navigation {
    padding: 50px 10px 15px;
    display: block;
  }

  .navigation__logo {
    margin-bottom: 20px;
  }

  .navigation__logo img {
    margin: 0 auto;
  }

  .navigation__search {
    margin-top: 30px;
  }

  .all-identification {
    margin-top: 30px;
  }

  .navigation-content .list__home a {
    vertical-align: text-top;
    font-size: 14px;
  }

  .navigation-content .btn {
    font-size: 14px;
  }

  .slideText {
    top: 38% !important;
  }

  .sliderCarusel img {
    max-height: 400px;
  }

  .sliderCarusel .slider-dots {
    top: -20px;
  }

  .slideText.first p {
    font-size: 27px;
  }

  .slideText.first h2 {
    font-size: 29px;
  }

  .category {
    -webkit-column-gap: 7px;
       -moz-column-gap: 7px;
            column-gap: 7px;
  }

  .category__card {
    margin: 0;
    padding: 0;
    max-height: 85px;
  }

  .category__card .text-card {
    font-size: 14px;
  }

  .category__card .big {
    width: 80px;
  }

  .category__card img {
    width: 80px;
  }

  .slider__control_left {
    left: 90%;
  }

  .actions-items .price-block .price-one {
    font-size: 16px;
  }

  .actions-items .price-block .price-second {
    font-size: 13px;
  }

  .actions-items .lone {
    padding: 0;
    margin: 0 10px;
    font-size: 16px;
  }

  .slider__wrapper {
    max-width: 97%;
  }

  .product-wrap p {
    padding: 0 5px;
    margin: 5px 0;
    font-size: 18px;
  }

  .info-block {
    margin: 20px 10px;
  }

  .info-block .info-item {
    margin-right: 10px;
  }

  .info-block .info-item p {
    font-size: 16px;
  }

  .Latter form {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .Latter input {
    max-height: 10px;
    margin: 0;
  }

  .Latter input::-webkit-input-placeholder {
    font-size: 13px;
  }

  .Latter input::-moz-placeholder {
    font-size: 13px;
  }

  .Latter input:-ms-input-placeholder {
    font-size: 13px;
  }

  .Latter input::-ms-input-placeholder {
    font-size: 13px;
  }

  .Latter input::placeholder {
    font-size: 13px;
  }

  .Latter .input-btn {
    top: 0px;
    left: 78%;
    height: 10px;
  }
}

@media (max-width: 986px) {
  .input-btn {
    display: none;
  }
}

@media (max-width: 915px) {
  .actions-items .lone {
    font-size: 14px;
  }

  .actions-items .price-block .price-one {
    font-size: 14px;
  }

  .actions-items .price-block .price-second {
    font-size: 13px;
  }
}

@media (max-width: 871px) {
  .info-block .info-item {
    overflow: hidden;
  }

  .info-block .info-item h3 {
    font-size: 16px;
  }

  .info-block .info-item p {
    font-size: 13px;
  }
}

@media (max-width: 835px) {
  .slideText.first p {
    font-size: 23px;
  }

  .slideText.first h2 {
    font-size: 24px;
  }

  .slider__control_left {
    left: 87%;
  }

  .actions .actions-items {
    font-weight: 500;
    text-shadow: none;
  }

  .actions-items {
    font-size: 11px;
  }

  .actions-items .lone {
    margin: 0;
    font-size: 10px;
  }

  .product-wrap p {
    font-size: 15px;
  }

  .actions-items .price-block .price-one {
    font-size: 11px;
  }

  .actions-items .price-block .price-second {
    font-size: 10px;
  }

  .slider__item .lable-sale {
    max-width: 80px;
  }
}

@media (max-width: 830px) {
  .navigation-content .list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navigation-content ul li {
    margin-right: 20px;
    padding: 10px 10px;
  }

  .navigation-content .btn {
    font-size: 12px;
  }

  .navigation-content .list__home {
    padding: 5px 0;
  }

  .navigation-content .list__home a {
    font-size: 12px;
  }

  .navigation-content .list__menu {
    padding: 5px 0;
  }

  .navigation-content .list__menu:last-child .content {
    left: -98px;
  }

  .navigation-content .list__menu .content {
    left: 0px;
    top: 35px;
  }
}

@media (max-width: 766px) {
  .actions-items .price-block .price-one {
    font-size: 10px;
  }

  .actions-items .price-block .price-second {
    font-size: 9px;
  }
}

@media (max-width: 650px) {
  .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 70%;
  }

  .category__card {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .text-card h2 {
    font-size: 21px;
  }

  .text-card p {
    font-size: 17px;
  }
}

@media (max-width: 645px) {
  .info-block {
    margin: 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 1515px;
  }

  .info-block .info-item {
    width: 100%;
    margin-right: 0;
  }

  .info-block .info-item h3 {
    text-align: center;
    font-size: 19px;
  }

  .info-block .info-item p {
    margin: 0 0px;
    font-size: 17px;
  }

  .info-block .info-item .item-text p {
    margin: 10px 0px;
  }

  .info-block .info-item .latter-info picture {
    margin-right: 15px;
  }

  .footer-info {
    padding-top: 15px;
  }

  .footer-info .footer-item h5 {
    font-size: 14px;
  }

  .footer-info .footer-item a {
    font-size: 13px;
  }
}

@media (max-width: 643px) {
  .slideText.first p {
    font-size: 21px;
  }

  .slideText.first h2 {
    font-size: 24px;
  }
}

@media (max-width: 635px) {
  .slider__control_left {
    left: 84%;
  }

  .actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .actions .actions__price {
    width: 100%;
  }

  .actions .actions__price .lone {
    font-size: 17px;
  }

  .actions .actions-items {
    width: 100%;
    max-height: 150px;
    font-size: 17px;
  }

  .actions .actions-items .price-block .price-one {
    font-size: 17px;
  }

  .actions .actions-items .price-block .price-second {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 590px) {
  .slideText {
    width: 50%;
  }
}

@media (max-width: 585px) {
  .all-identification {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .all-identification .dropdown-header {
    margin: 0 auto;
  }

  .all-identification .dropdown-header .dropbtn {
    padding: 5px;
  }

  .all-identification .dropdown-header .dropdown-content {
    left: -50%;
  }

  .all-identification .identification {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .all-identification p {
    margin-top: 20px;
    text-align: center;
    width: 50%;
    padding: 0;
    border-right: none;
  }

  .all-identification a {
    font-size: 14px;
    border-bottom: 1px solid #b3b3b3;
  }

  .info__call {
    font-size: 14px;
  }

  .info__createAkk {
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin-top: 10px;
  }
}

@media (max-width: 525px) {
  .slider__control_left {
    left: 80%;
  }
}

@media (max-width: 490px) {
  .sliderCarusel img {
    max-height: 290px;
  }

  .slideText {
    margin-top: 30px;
  }

  .slideText.first p {
    font-size: 18px;
  }

  .slideText.first h2 {
    font-size: 21px;
  }

  .slider-dots_item.active {
    border-width: 3px;
  }

  .slider-dots_item {
    height: 10px;
    width: 10px;
    border-width: 2px;
  }
}

@media (max-width: 450px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer-info .footer-item {
    max-width: 50%;
    margin-bottom: 50px;
  }

  .footer-info .footer-item h5 {
    font-size: 21px;
  }

  .footer-info .footer-item a {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }

  .footer-info .footer-item {
    max-width: 100%;
    text-align: center;
  }

  .footer-info .footer-item h5 {
    font-size: 19px;
  }

  .footer-info .footer-item a {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

@media (max-width: 444px) {
  .navigation-content .list__menu:last-child .content {
    left: 0;
  }

  .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 0;
  }

  .list li {
    margin-top: 20px;
    width: 100%;
  }

  .navigation-content ul {
    margin-right: 0;
  }

  .navigation-content li {
    margin-right: 0;
  }

  .navigation-content .list__home {
    margin-right: 0;
  }

  .navigation-content .list__home a {
    border-bottom: 1px solid #777;
  }

  .navigation-content .list__menu {
    margin-right: 0;
  }

  .navigation-content .list__menu .content {
    width: 100%;
    left: 0%;
  }
}

@media (max-width: 415px) {
  .slider__control_left {
    left: 76%;
  }

  .slider__item .lable-sale {
    max-width: 60px;
  }

  .product-wrap p {
    font-size: 13px;
  }
}

@media (max-width: 395px) {
  .slideText.first p {
    font-size: 14px;
  }

  .sliderCarusel img {
    max-height: 250px;
  }
}

@media (max-width: 348px) {
  .slider__control_left {
    left: 70%;
  }

  .slider__wrapper {
    -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
            transform: translateX(-10%);
  }

  .slider__item {
    margin-right: 0;
  }
}

@media (max-width: 333px) {
  .info-block .info-item {
    padding: 0 5px;
  }

  .info-block .info-item h3 {
    font-size: 17px;
  }

  .info-block .info-item p {
    margin: 0 20px;
    font-size: 13px;
  }

  .info-block .info-item .item-text {
    font-size: 17px;
  }

  .info-block .info-item .item-text p {
    margin: 10px 0px;
  }
}

@media (max-width: 320px) {
  .info__nav {
    margin-top: 10px;
  }

  .info__nav p {
    font-size: 14px;
  }

  .slideText.first p {
    font-size: 12px;
  }

  .slideText.first h2 {
    font-size: 15px;
  }

  .sliderCarusel img {
    max-height: 200px;
  }

  .category {
    max-width: 80%;
  }

  .category__card {
    margin-bottom: 10px;
  }

  .text-card h2 {
    font-size: 18px;
  }

  .text-card p {
    font-size: 15px;
  }
}

@media (max-width: 285px) {
  .navigation__search input {
    margin: 0 auto;
    font-size: 13px;
    max-width: 190px;
  }

  .slider__control_left {
    left: 65%;
  }
}

@media (max-width: 250px) {
  .all-identification {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }

  .all-identification .dropdown-header .dropbtn {
    background-color: #fff;
  }

  .all-identification p {
    width: 100%;
  }
}