@charset "UTF-8";

._container {
  max-width: 1047px;
  margin: 0 auto;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.ttf?bq4h03") format("truetype"), url("fonts/icons.woff?bq4h03") format("woff"), url("fonts/icons.svg?bq4h03#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "\e900";
}

._icon-twitter:before {
  content: "\e901";
}

._icon-insta:before {
  content: "\e902";
}

._icon-Linkedin:before {
  content: "\e903";
}

._row-title {
  padding: 0px 0px 15px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 125%;
}

._content-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 125%;
}

._titles-main {
  font-size: 30px;
  line-height: 123.33333%;
  font-weight: 400;
}

.text {
  font-size: 16px;
  line-height: 143.75%;
}

.btn-green {
  height: 47px;
  padding: 0 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .5s ease 0s;
  -o-transition: background-color .5s ease 0s;
  transition: background-color .5s ease 0s;
  background-color: #49F458;
}

.btn-green:hover {
  background-color: #2ac42a;
}

.cube-in::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: #49F458;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  opacity: .7;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  height: 47px;
  padding: 0px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff6464;
  border-radius: 2px;
  text-align: center;
  font-weight: 500;
  line-height: 145%;
  color: #fff;
  -webkit-transition: background-color .3s ease 0s;
  -o-transition: background-color .3s ease 0s;
  transition: background-color .3s ease 0s;
}

.btn._fw {
  width: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Обнуление V.0.0.1*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body button:active,
body button:focus {
  outline: none;
}

body button::-moz-focus-inner {
  border: 0;
}

body {
  color: #21243D;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

.header a {
  color: #000;
}

.header__content {
  margin: 0 auto;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82px;
}

.header__tel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
}

.header__tel a {
  font-size: 18px;
  font-variant: small-caps;
  color: #000;
  font-family: Roboto;
  vertical-align: baseline;
  text-transform: uppercase;
  line-height: 100%;
}

.header__tel p {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 116.66667%;
  text-align: right;
}

.header__tel p:first-child {
  padding-bottom: 5px;
}

.tel__one {
  text-align: right;
  text-decoration: underline;
}

.tel__one a {
  font-size: 16px;
  line-height: 118.75%;
  font-variant: small-caps;
  color: #333333;
}

.tel__call {
  display: none;
}

.logo-main__title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 25px;
  line-height: 116%;
  text-transform: uppercase;
  color: #333333;
  padding: 10px;
  background-color: #49F458;
  border-radius: 5px;
  overflow: auto;
}

.logo-main__title span:last-child {
  font-weight: 800;
}

.menu__icon {
  text-align: center;
}

.menu__icon li {
  margin-bottom: 10px;
  list-style-type: none;
}

.menu__icon li a {
  font-size: 28px;
  color: white;
}

.menu__icon li a:active {
  color: #bebebe;
  text-decoration: underline;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu__list li {
  margin: 0px 0px 0px 33px;
}

.menu__list li:first-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 118.75%;
  color: #000;
  -webkit-transition: color .3s ease 0s;
  -o-transition: color .3s ease 0s;
  transition: color .3s ease 0s;
}

.menu__link._active {
  color: #34af3e;
}

.list__icon {
  padding-left: 2px;
  vertical-align: middle;
  margin-left: 5px;
}

.menu-last:hover .list__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform .5s ease 0s;
  transition: -webkit-transform .5s ease 0s;
  -o-transition: transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s, -webkit-transform .5s ease 0s;
}

.menu-last:hover .drop-down {
  display: block;
  background-color: #e6e6e6;
  position: absolute;
  top: 50px;
  overflow: hidden;
}

.drop-down {
  display: none;
  padding: 15px 45px;
}

.down-link {
  margin-bottom: 20px;
}

.down-link a:hover {
  color: #00c900;
}

.down-link:last-child {
  margin-bottom: 0;
}

.burger {
  margin-right: 10px;
  display: none;
  position: absolute;
  right: 5px;
  top: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.burger span,
.burger span:before,
.burger span:after {
  width: 100%;
  position: absolute;
  height: 5px;
  background: #000;
  display: block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 5px;
}

.burger span:before {
  content: "";
  top: -20px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span {
  top: 20px;
}

.burger span:after {
  content: "";
  bottom: -20px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active:before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: #33ac3d;
}

.burger span.active:after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: #33ac3d;
}

.burger span.active {
  background: rgba(255, 255, 255, 0);
}

.menu__icon {
  width: 100%;
  height: auto;
  background: rgba(90, 90, 90, 0.8);
  color: #000;
  padding: 10px;
  position: fixed;
  top: 80px;
  left: -100%;
  -webkit-transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: visible;
}

.menu__icon.animate {
  left: 0;
}

.footer {
  background-color: #171717;
  color: #fff;
  padding-bottom: 25px;
}

.footer__content {
  margin: 0 20px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 55px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  border-bottom: 1px solid #525252;
}

.footer__logo {
  display: inline-block;
  padding: 20px 70px;
  vertical-align: middle;
  background-color: #49F458;
  text-align: center;
  color: #000;
  font-size: 25px;
  font-weight: 300;
  line-height: 116%;
  text-transform: uppercase;
  overflow: hidden;
}

.footer__logo span {
  font-weight: 800;
}

.footer__category {
  font-size: 18px;
  line-height: 116.66667%;
}

.footer__category span {
  padding: 7px 14px;
  font-weight: 800;
  font-size: 20px;
  line-height: 125%;
  background: #212121;
  border-radius: 5px;
}

.footer__tel {
  text-align: right;
  font-size: 24px;
  line-height: 116.66667%;
}

.footer__tel div {
  padding: 0px 0px 5px 0px;
}

.footer__tel a {
  font-size: 18px;
  line-height: 118.75%;
  font-variant: small-caps;
  color: #fff;
  border-bottom: 1px dashed #49F458;
}

.category__title {
  margin-bottom: 10px;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 130px 60px 130px;
  text-align: left;
  border-bottom: 1px solid #525252;
}

.navigation-items {
  width: 25%;
  margin-right: 20px;
}

.navigation-items:last-child {
  margin-right: 0;
}

.navigation-items li {
  padding: 0px 0px 15px 0px;
}

.navigation-items a {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}

.footer__copyright .footer__copyright-block {
  color: #959595;
}

.footer__social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-network__item {
  margin-right: 10px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #333333;
  border-radius: 50%;
  -webkit-transition: background-color .5s ease 0s;
  -o-transition: background-color .5s ease 0s;
  transition: background-color .5s ease 0s;
}

.social-network__item:last-child {
  margin-right: 0;
}

.vk {
  color: #5F9FFF;
}

.insta {
  color: #D01948;
}

.what {
  color: #3EFF97;
}

.vib {
  color: #828EFF;
}

.online {
  padding: 0 5px;
  background-image: url("../img/img-jpg/oline-man.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.text__title p {
  padding: 20px 0px 30px 0px;
  font-size: 20px;
  line-height: 125%;
  color: #000000;
}

.title-main span {
  font-weight: 800;
}

.content-row__one {
  max-width: 40%;
}

.content-row__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 30px 0px;
}

.content-row__items *:last-child {
  margin: 0px 0px 0px 0px;
}

.category__content {
  z-index: 100;
}

.content-row__two {
  max-width: 54%;
}

.online__btn {
  display: block;
}

.online__btn a {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 116.66667%;
}

.btn__sing-up {
  margin: 0px 20px 20px 0px;
  background-color: #49F458;
  -webkit-filter: drop-shadow(0px 3px 10px #49F458);
          filter: drop-shadow(0px 3px 10px #49F458);
}

.btn__sing-up::after {
  content: url("../img/icon/plus.svg");
  padding: 0px 0px 0px 4px;
  display: inline-block;
  margin-bottom: 2px;
}

.btn__learn-more {
  border: 2px solid #49F458;
  margin-bottom: 20px;
}

.btn__learn-more::after {
  content: url("../img/icon/arrow-right.svg");
  padding: 0px 0px 0px 4px;
  margin-bottom: 3px;
}

.timetable {
  margin: 160px 0px 0px 0px;
  padding: 0px 0px 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timetable__grap-tems {
  margin-left: 10px;
}

.timetable__dash {
  border-left: 1px solid #cecece;
}

.raspisanie__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  color: #000000;
}

.content__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timetable__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
  color: #000000;
}

.table__items {
  text-align: center;
}

.item__cube {
  margin-right: 7px;
  position: relative;
  border: 1px solid  #C4C4C4;
  border-radius: 5px;
  height: 33px;
  width: 33px;
}

.item__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  color: #000000;
}

.item__time {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.text__item {
  font-weight: 800;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;
}

.color-cube {
  border: 1px solid #FFC0C0;
}

.grap-tems__text {
  max-width: 300px;
}

.grap-tems__text a {
  color: #3DCC4A;
}

.grap-tems__text a::after {
  content: " ";
  display: inline-block;
  background-image: url("../img/icon/link-arrow-right.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0px 0px 0px 2px;
  width: 16px;
  height: 13px;
}

.forms-lessons {
  margin: 0px 0px 70px 0px;
}

.forms-lessons__title {
  padding: 0px 0px 50px 0px;
  text-align: center;
  font-weight: 800;
}

.forms-lessons__content-lessons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forms-lessons__background-forms {
  position: absolute;
  background-color: #FAFAFA;
  background-size: cover;
  width: 100%;
  height: 130%;
  left: 0;
}

.content-lessons__title {
  padding: 0px 0px 20px 0px;
  font-size: 24px;
  line-height: 116.66667%;
}

.content-lessons__title::after {
  content: url("../img/icon/arrow-slime.svg");
  vertical-align: -webkit-baseline-middle;
}

.text-lessons__techers {
  position: absolute;
  left: 55%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-lessons__lessons-text {
  padding: 0px 0px 0px 20px;
  font-size: 16px;
  line-height: 150%;
  max-width: 298px;
}

.text-lessons__lessons-text a {
  color: #3DCC4A;
}

.techers__background {
  min-width: 133px;
  height: 133px;
  background-image: url("../img/img-jpg/avatar-teach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.techers__text {
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 10px;
}

.techers__text p:first-child {
  font-size: 24px;
  line-height: 116.66667%;
  padding: 0px 0px 5px 0px;
}

.techers__text p:last-child {
  font-weight: 800;
  font-size: 20px;
  line-height: 125%;
}

.training-course {
  margin: 20px 0px 135px 0px;
}

.training-course__title {
  margin: 0px 0px 40px 0px;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 123.33333%;
}

.items-courses__item-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
  overflow: auto;
}

.items-courses__item-cards:last-child {
  margin-bottom: 0px;
}

.items-courses__item-cards *:last-child {
  margin-right: 0;
}

.item-card {
  width: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-card__image {
  padding-right: 25px;
}

.text-card__title {
  font-size: 24px;
  line-height: 116.66667%;
  padding: 0px 0px 15px 0px;
}

.text-card__text {
  font-size: 16px;
  line-height: 150%;
}

.sign-up {
  position: relative;
  max-width: 448px;
  margin: 0 auto;
  margin-bottom: 165px;
  padding: 10px;
}

.sign-up__border {
  position: absolute;
  top: -10px;
  left: -10px;
  border: 1px dashed #666;
  border-width: 2px;
  width: 105%;
  height: 98%;
  position: absolute;
  z-index: -200;
}

.sign-up__backgr {
  position: absolute;
  background-color: #49F458;
  background-position: center;
  border-width: 3px;
  opacity: 0.2;
  width: 80%;
  height: 100%;
  z-index: -100;
}

.sign-up__backgr::after {
  content: "";
  position: absolute;
  left: 115%;
  top: 40%;
  width: 55px;
  height: 100px;
  border: 2px dashed #666666;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.sign-up__backgr::before {
  content: "";
  position: absolute;
  mix-blend-mode: multiply;
  left: 85%;
  top: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #49F458;
  opacity: 1;
}

.sign-up__content-block {
  padding: 40px 0px 20px 40px;
}

.sign-up__title {
  margin-bottom: 20px;
}

.sign-up__text-consent {
  font-size: 16px;
  line-height: 150%;
  color: #959595;
}

.sign-up__text-consent a {
  color: #3DCC4A;
}

.form-input-text {
  border: 1px solid #BCBCBC;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  -moz-appearance: textfield;
}

.form-input-text::-webkit-inner-spin-button {
  display: none;
}

.items-form {
  padding-bottom: 20px;
  width: 250px;
}

.form-btn {
  width: 100%;
  font-size: 12px;
  line-height: 116.66667%;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.form-lable {
  display: block;
  font-size: 16px;
  line-height: 150%;
  padding: 0px 0px 5px 0px;
}

.page {
  padding: 90px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 768.98px) {
  .menu__link:hover {
    color: #2bcc38;
  }

  .social-network__item:hover {
    cursor: pointer;
    background-color: #414141;
  }
}

@media (min-width: 991.98px) {
  .navigation-items a:hover {
    color: #49F458;
    -webkit-transition: color .4s ease 0s;
    -o-transition: color .4s ease 0s;
    transition: color .4s ease 0s;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #e04141;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  ._row-title {
    padding: 0px 0px 0px 0px;
  }

  .header__tel a {
    font-size: 15px;
  }

  .header__tel p {
    font-size: 17px;
  }

  .logo-main__title {
    font-size: 20px;
  }

  .menu__list li {
    margin: 0px 0px 0px 16px;
  }

  .drop-down {
    padding: 10px 15px;
  }

  .footer__contact {
    display: block;
  }

  .footer__logo {
    display: inline-block;
    padding: 15px 35px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .footer__category {
    float: left;
  }

  .footer__navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0px 60px 0px;
  }

  .content-row__items {
    display: block;
  }

  .content-row__category {
    padding: 0px 0px 15px 0px;
  }

  .content-row__place {
    padding: 0px 0px 15px 0px;
  }

  .content-row__lections {
    padding: 0px 0px 15px 0px;
  }

  .content-row__price {
    padding: 0px 0px 15px 0px;
  }

  .text-lessons__techers {
    left: 60%;
    top: -5%;
    width: 100%;
    margin: 0px 50px 0px 0px;
  }

  .text-lessons__lessons-text {
    max-width: 100%;
  }
}

@media (max-width: 768.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0px 7px;
  }

  .header__logo-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .header__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 42px;
    align-items: center;
    padding: 0 10px;
    margin: 0px 0px 0px 10px;
    background-color: #49F458;
    border-radius: 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .header__tel p {
    display: none;
  }

  .tel__one {
    display: none;
  }

  .tel__call {
    display: block;
  }

  .menu__list {
    display: none;
  }

  .burger {
    display: block;
  }

  .footer__logo {
    padding: 12px 25px;
    margin-right: 0;
  }

  .footer__category {
    display: block;
    margin: 0px 0px 20px 0px;
    font-size: 15px;
  }

  .footer__category span {
    font-size: 14px;
  }

  .footer__tel {
    font-size: 15px;
  }

  .footer__tel a {
    font-size: 15px;
  }

  .navigation-items {
    margin-right: 10px;
  }

  .forms-lessons__content-lessons {
    display: block;
  }

  .content-lessons__video-block {
    text-align: center;
  }

  .content__text-lessons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .text-lessons__techers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    margin-right: 0;
    width: 60%;
  }

  .text-lessons__lessons-text {
    max-width: 45%;
  }

  .techers__background {
    min-width: 78px;
    height: 78px;
  }

  .content-lessons__img {
    width: 460px;
  }

  .items-courses__item-cards {
    margin-bottom: 25px;
  }

  .item-card__image {
    max-height: 95px;
    padding-right: 0;
  }

  .item-card__image img {
    max-width: 85px;
  }
}

@media (max-width: 768.98px) and (max-width: 479.98px) {
  .footer__category {
    width: 100%;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 479.98px) {
  ._titles-main {
    font-size: 25px;
  }

  .btn-green {
    white-space: nowrap;
    overflow: hidden;
    padding: 13px 40px;
    text-align: center;
    display: block;
    margin-right: 0;
  }

  .header__content {
    display: block;
    margin-top: 15px;
  }

  .header__tel {
    display: none;
  }

  .burger {
    display: none;
  }

  .footer__contact {
    padding: 20px 0px 40px 0px;
  }

  .footer__logo {
    width: 100%;
    font-size: 18px;
    white-space: nowrap;
    padding: 7px 22px;
  }

  .footer__tel {
    text-align: center;
  }

  .footer__navigation {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 0px 20px 0px;
  }

  .footer__navigation .line {
    width: 100px;
    border: 1px solid #7b7b7b;
    margin: 0 auto;
  }

  .navigation-items {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__copyright .footer__copyright-block {
    color: #fff;
    padding-bottom: 15px;
  }

  .footer__copyright {
    display: inline-block;
    text-align: center;
    color: #fff;
  }

  .footer__social-network {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .online {
    background-image: url("../img/img-jpg/oline-man.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  .timetable {
    display: block;
    text-align: center;
    margin: 40px 0px 0px 0px;
  }

  .timetable__raspisanie {
    margin-bottom: 40px;
  }

  .timetable__dash {
    display: none;
  }

  .timetable__title {
    margin-bottom: 30px;
  }

  .grap-tems__text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 150%;
  }

  .content__text-lessons {
    display: block;
  }

  .text-lessons__techers {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .text-lessons__techers *:last-child {
    margin: 0px 0px 0px 0px;
  }

  .text-lessons__lessons-text {
    min-width: 100%;
    padding-left: 0;
    text-align: center;
    padding: 0px 15px 0px 15px;
  }

  .content-lessons__img {
    width: 300px;
  }

  .items-courses__item-cards {
    display: block;
    margin-bottom: 0;
  }

  .item-card {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }

  .item-card__image img {
    padding-bottom: 20px;
  }

  .sign-up__backgr {
    width: 97%;
  }

  .sign-up__backgr::after {
    display: none;
  }

  .sign-up__backgr::before {
    display: none;
  }

  .sign-up__content-block {
    padding: 15px 0px 0px 15px;
  }

  .page {
    padding: 10px 0px 0px 0px;
  }
}