@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.main-section {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: auto;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-bgimg {
  height: 660px;
  background-image: url("../img/bg_header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
  text-align: center;
}

.main-bgimg img {
  max-width: 100px;
  margin: 0 auto;
  color: white;
  padding-top: 50px;
}

.main-bgimg .bgimg-title {
  font-family: Open Sans;
  margin-top: 240px;
  color: white;
}

.main-bgimg .bgimg-title h1 {
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
}

.main-bgimg .bgimg-title p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.main-bgimg .bg-down {
  margin-top: 230px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 3.7px;
  color: white;
}

.nav {
  margin: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

ul li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  margin-right: 25px;
}

ul li:last-child {
  margin-right: 0px;
}

ul li a {
  color: #000000;
  text-decoration: none;
}

ul li a:hover {
  color: #00A4E5;
}

.block-story {
  margin-top: 60px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
}

.block-story .header {
  text-align: center;
  margin-bottom: 80px;
}

.block-story .header h2 {
  margin-bottom: 10px;
}

.block-story .header .border {
  margin: 0 auto;
  border-top: 2px solid #00A4E5;
  color: blue;
  max-width: 70px;
}

.block-story .story-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-story .story-block .block-text {
  max-width: 370px;
  margin-bottom: 30px;
  font-family: Open Sans;
  font-style: normal;
  letter-spacing: .1875px;
  color: #48555B;
}

.block-story .story-block .block-text .title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.35;
}

.block-story .story-block .block-text .title span {
  color: #16ACE8;
}

.block-story .story-block .block-text .text {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.76;
}

.block-story .block-pictures {
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-story .block-pictures p:last-child {
  margin-right: 0;
}

.block-story .block-pictures .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 20px;
  margin-right: 20px;
}

.block-facilities {
  margin-top: 100px;
  font-family: Open Sans;
  font-style: normal;
}

.block-facilities .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.block-facilities .header .title .title-text {
  font-weight: bold;
  font-size: 23px;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.block-facilities .header .title .border {
  max-width: 70px;
  margin: 0 auto;
  border-top: 2px solid #00A4E5;
}

.block-facilities .header .text {
  max-width: 350px;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.2px;
  color: #48555B;
}

.block-facilities .header .link {
  display: table;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #00A4E5;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.block-facilities .header .link a {
  text-decoration: none;
  color: #ffffff;
}

.block-facilities .facilities-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-facilities .card {
  margin-right: 30px;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.block-facilities .card img {
  margin-bottom: 25px;
  max-width: 100px;
  min-height: 100px;
}

.block-facilities .card .title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #48555B;
}

.block-facilities .card .text {
  font-size: 13px;
  line-height: 1.7;
  letter-spacing: 0.2px;
}

footer .block-link {
  max-width: 1280px;
  min-height: 490px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: inherit;
}

footer .block-link .link-text {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 120px;
}

footer .block-link .link-text .title {
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: #48555B;
}

footer .block-link .link-text .link {
  display: inline;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #00A4E5;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.footer {
  font-family: Open Sans;
  font-style: normal;
  background-color: #141A20;
}

.footer .form-footer {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171819;
  color: #ffffff;
}

.footer .form-footer p {
  margin-right: 70px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.846154px;
}

.footer .form-footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .form-footer form input {
  width: 300px;
  height: 40px;
}

.footer .form-footer form a {
  padding: 11.8px 50px;
  margin-left: -5px;
  text-decoration: none;
  background-color: #00A4E5;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.footer .link-block {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.footer .link-block div {
  display: block;
}

.footer .link-block li {
  margin-bottom: 15px;
}

.footer .link-block a {
  color: white;
}

.footer .link-block a:hover {
  color: #00a4e5;
}

.footer .link-block .company {
  max-width: 250px;
}

.footer .link-block .company .title {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.3;
  letter-spacing: 0.846154px;
}

.footer .link-block .company img {
  max-width: 100px;
}

.footer .link-block .company .logo {
  margin-bottom: 10px;
}

.footer .link-block .company .text {
  font-size: 11px;
  line-height: 1.7;
  letter-spacing: 0.85px;
}

.footer .link-block .links {
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.846154px;
}

.footer .link-block .links p {
  text-decoration: underline;
  margin-bottom: 15px;
}

.footer .link-block .links .link {
  display: block;
}

.footer .link-block .faqs {
  margin-top: 30px;
}

.footer .link-block .faqs .faq {
  display: block;
}

.footer .link-block .blogs {
  margin-top: 30px;
}

.footer .link-block .blogs .blog {
  display: block;
}

.footer .link-block .contacts {
  max-width: 140px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.846154px;
}

.footer .link-block .contacts p {
  margin-bottom: 20px;
}

.footer .link-block .contacts p:last-child {
  margin-bottom: 0;
}

.footer .link-block .contacts .contact {
  display: block;
}

.footer .social-networks {
  text-align: center;
}

.footer .social-networks div {
  margin-bottom: 10px;
}

.footer .social-networks div:last-child {
  margin-bottom: 0;
}

.footer .social-networks .social-link_facebook a {
  color: none;
}

.footer .social-networks .social-link_facebook i {
  font-size: 22px;
  width: 22px;
  height: 22px;
}

.footer .social-networks .social-link_facebook i:hover {
  color: #3b5998;
}

.footer .social-networks .social-link_facebook i::before {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  display: block;
  content: '\f09a';
}

.footer .social-networks .social-link_twitter a {
  color: none;
}

.footer .social-networks .social-link_twitter i {
  font-size: 22px;
  width: 22px;
  height: 22px;
}

.footer .social-networks .social-link_twitter i:hover {
  color: #00acee;
}

.footer .social-networks .social-link_twitter i::before {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  display: block;
  content: '\f099';
}

.footer .social-networks .social-link_google a {
  color: none;
}

.footer .social-networks .social-link_google i {
  font-size: 22px;
  width: 22px;
  height: 22px;
}

.footer .social-networks .social-link_google i:hover {
  color: #ff7231;
}

.footer .social-networks .social-link_google i::before {
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  display: block;
  content: '\f1a0';
}

.footer .inc {
  padding: 20px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.846154px;
  background-color: #171819;
  color: #ffffff;
}

@media (max-width: 700px) {
  .container {
    max-width: 575px;
  }

  .main-bgimg {
    height: 660px;
    min-width: 660px;
    margin: 0 auto;
    background-image: url("../img/bg_header.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-bgimg .bgimg-title h1 {
    font-size: 33px;
  }

  .main-bgimg .bgimg-title p {
    font-size: 14px;
  }

  .block-story .block-pictures {
    max-width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block-story .block-pictures .items {
    margin-right: 0;
    max-width: 50%;
    max-height: 50%;
  }

  .footer {
    max-width: 700px;
  }
}

@media (max-width: 675px) {
  .main-bgimg {
    min-width: 514px;
  }
}

@media (max-width: 660px) {
  .block-story .header {
    margin-bottom: 25px;
  }

  .block-story .header h2 {
    font-size: 19px;
  }

  .block-story .story-block .block-text .title {
    font-size: 20px;
  }

  .block-story .block-pictures {
    max-width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block-story .block-pictures .items {
    margin-right: 0;
    max-width: 50%;
    max-height: 50%;
  }

  .block-facilities .header {
    margin: 0 auto;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 400px;
  }

  .block-facilities .header .title {
    margin-bottom: 15px;
  }

  .block-facilities .header .title .title-text {
    font-size: 19px;
  }

  .block-facilities .header .text {
    margin-bottom: 15px;
    text-align: center;
  }

  .facilities-cards {
    max-width: 575px;
  }

  .facilities-cards .card img {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 70px;
    min-height: 70px;
  }

  .facilities-cards .card .title {
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .facilities-cards .card .text {
    text-align: center;
    font-size: 12px;
  }

  .block-facilities {
    margin-top: 20px;
  }

  .footer .form-footer p {
    font-size: 17px;
    margin-right: 20px;
  }

  .footer .form-footer form input {
    width: 170px;
    height: 35px;
  }

  .footer .form-footer form a {
    padding: 9.1px 20px;
    margin-left: -5px;
    text-decoration: none;
    background-color: #00A4E5;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    color: #ffffff;
  }

  .footer .link-block {
    max-width: 65%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer .link-block .company {
    max-width: 225px;
  }

  .footer .link-block .company .text {
    max-width: 200px;
  }

  .footer .link-block .faqs {
    margin-top: 0;
  }

  .footer .link-block .blogs {
    margin-top: 0;
  }
}

@media (max-width: 555px) {
  .block-story {
    margin-bottom: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-story .story-block {
    min-height: 475px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block-story .story-block .block-text {
    margin-bottom: 0;
  }

  .block-story .block-pictures .items {
    padding-right: 5px;
    max-width: 80px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 375px;
  }
}

@media (max-width: 500px) {
  .main-bgimg {
    background-position: center;
    min-width: 574px;
  }

  .main-bgimg .bgimg-title h1 {
    font-size: 27px;
  }

  .main-bgimg .bgimg-title p {
    font-size: 13px;
  }
}

@media (max-width: 415px) {
  .container {
    min-width: 36px;
  }

  .main-bgimg {
    max-width: 415px;
    min-width: 400px;
    margin: 0 auto;
    background-position: center;
  }

  .main-bgimg .bgimg-title h1 {
    font-size: 27px;
  }

  .main-bgimg .bgimg-title p {
    font-size: 13px;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  nav .logo {
    padding-left: 150px;
    margin-bottom: 20px;
  }

  .block-story {
    margin-bottom: 20px;
  }

  .block-facilities .facilities-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-facilities .facilities-cards .card {
    margin: 5px auto;
  }

  .footer .form-footer {
    padding: 30px 20px;
    margin-bottom: 20px;
  }

  .link-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .link-block li {
    margin: 0;
  }

  .link-b {
    min-width: 100%;
    text-align: center;
  }

  .footer .link-block .link-b {
    margin-bottom: 15px;
  }

  .footer .link-block .company {
    margin-bottom: 30px;
  }

  .footer .link-block .company .logo {
    max-width: 120px;
    margin: 0 auto;
  }

  .footer .link-block .company .text {
    max-width: 300px;
  }

  .footer .link-block .social-networks div {
    margin-right: 10px;
    display: inline-block;
  }
}